.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.vert-ct {
  height: 100vh;
  justify-content: center;
}

.justify-sp-btn {
  justify-content: space-between;
}
